test/**/javasource/*
test/**/deployment/*
test/**/resources/*
test/**/userlib/*
test/**/theme/*
test/**/.mendix-cache
test/**/.svn/
test/**/.classpath
test/**/.project
test/**/*.log
node_modules/*
*.launch
*.tmp
*.lock
*.bak
.idea/
*DS_Store*
out/
dist/
!test/deployment/widgets/*.mpk
!test/**/*.mpr
